body{
	margin:2px 5px;
}
a{
	color:#069;
	text-decoration:none;
	font-weight:bold;
}
a:hover{
	text-decoration:underline;
}
button{
	border-radius: 12px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border: 1px solid #aaa;
	color: #444;
	text-align: center;
	display:inline-block;
}
button:hover{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}
button:active{
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}
div#example{
	font-family: Serif;
}
.hide{
	display:none;
}
#qin{
	font-size:12px;
	color:grey;
}
.oa_chn:not(:first-child):before{
	content:' \\\\ ';
	font-weight:bold;
	color:maroon;
	color:MidnightBlue;
}
.oa_chn:nth-child(3):after{
	content:'…';
}